<%- include('./partials/header') %>

<div class="container">
    
    <h1 style="text-align: center; margin-top: 40px;">College</h1>

    <div style="width: 30%; margin: 25px auto;">
        <form action="/college" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="Title" placeholder="Title">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="CollegeName" placeholder="CollegeName">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="CollegeId" placeholder="CollegeId">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="GraduationYear" placeholder="GraduationYear">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="Percentage" placeholder="Percentage">
            </div>
            
            <div class="form-group">
                <button class="btn btn-primary btn-block">submit</button>
            </div>
           
            
            
        </form>
        
    </div>
    
        
</div>



<%- include('./partials/footer') %>