<%- include('./partials/header') %>


<a href="/college">
    <button>college</button>
</a>

<a href="/work">
    <button>work</button>
</a>

<a href="/project">
    <button>project</button>
</a>

<a href="/technicalSkill">
    <button>technicalSkill</button>
</a>

<a href="/softSkill">
    <button>softSkill</button>
</a>

<a href="/certification">
    <button>certification</button>
</a>

<a href="/language">
    <button>language</button>
</a>

<a href="/software">
    <button>software</button>
</a>

<a href="/resume">
    <button>Resume</button>
</a>








<%- include('./partials/footer') %>