<%- include('./partials/header') %>

<div class="container">
    
    <h1 style="text-align: center; margin-top: 40px;">Project</h1>

    <div style="width: 30%; margin: 25px auto;">
        <form action="/project" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="ProjectName" placeholder="ProjectName">
            </div>

            <div class="form-group">
                <input class="form-control" type="text" name="ProjectDescription" placeholder="ProjectDescription">
            </div>
            
            
            <div class="form-group">
                <button class="btn btn-primary btn-block">submit</button>
            </div>
           
            
            
        </form>
        
    </div>
    
        
</div>


<%- include('./partials/footer') %>